{% extends 'layout.html.twig' %}

{% block panel_title %}Rol list{% endblock %}
{% block panel_actions %}
    <a class="boton boton-default" href="{{ path('rol_new',{'id': project.id}) }}">New rol</a>
{% endblock %}

    {% block th %}
        <th>Name</th>
        <th>Description</th>
    {% endblock %}

    {% block td %}
        {% for rol in rols %}
            <tr>
                <td>{{ rol.name }}</td>
                <td>{{ rol.description }}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="{{ path('rol_edit', { 'id': rol.id }) }}"><i
                                class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
    {% endblock %}