{% extends 'layout.html.twig' %}

{% block panel_title %}Rol creation{% endblock %}
{% block panel_actions %}
    <a class="waves-effect waves-light btn" href="{{ path('rol_index',{'id':project.id}) }}">
        <i class="fa fa-arrow-left"></i>
    </a>
{% endblock %}
    {% block panel_body %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="waves-effect waves-light btn" type="submit" value="Create"/>
        {{ form_end(form) }}
    {% endblock %}
