{% extends 'base.html.twig' %}

{% block body %}
    <div class="teal">
        <div class="card-action white-text">
            <div class="row">
                <div class="col l8">
                    <h5>
                        {% block panel_title %}
                        {% endblock panel_title %}
                    </h5>
                </div>
                <div class="col l4">
                    {% block panel_actions %} {% endblock %}
                </div>
            </div>
        </div>
        <div class="card-content white" style="background-color: #1C1C1C !important;">
            <div class="row">
                {% block panel_body %}
                    <table id="table" class="bordered table">
                        <thead>
                        <tr>
                            {% block th %}
                            {% endblock %}
                            <th width="12%" rel="tooltip" data-toggle="tooltip" title="Opciones">
                                <div class="center-align"><i class="fa fa-cog"></i></div>
                            </th>
                        <tr>
                        </thead>
                        <tbody class="searchable">
                        {% block td %}
                        {% endblock %}
                        </tbody>
                    </table>
                    {% block footer_panel %}


                    {% endblock %}
                {% endblock panel_body %}
            </div>
            {% block footer %}


            {% endblock %}
        </div>
    </div>

{% endblock %}