{% extends 'layout.html.twig' %}

{% block panel_title %}Meet New{% endblock %}
{% block panel_actions %}
    <a class="boton boton-default" href="{{ path('meet_index', {'id': meet.project.id}) }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
{% endblock %}
{% block panel_body %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="waves-effect waves-light btn" type="submit" value="Create"/>
    {{ form_end(edit_form) }}
{% endblock %}

