<ul class="collection">
    {% for sprint in sprints %}
           <li class="collection-item"><a href="{{ path('sprint_show', {'id': sprint.id}) }}">{{ sprint.name }}</a></li>
    {% endfor %}
</ul>
