{% extends 'UnivalleSecurityBundle:Security:layout.html.twig' %}
{% block title %}Olvido de contraseña{% endblock %}
{% block panel_body %}
    <div class="alert alert-info">
        Olvidaste el número de referencia, <strong>realice los siguientes pasos</strong>:
    </div>
    <ol>
        <li>Envíe un correo electrónico a la cuenta <strong>documentos.matricula@correounivalle.edu.co</strong>
            con la siguiente información:
            <ul>
                <li>Nombre completo</li>
                <li>Programa académico</li>
                <li>Código de estudiante</li>
                <li>No. del documento de identidad</li>
                <li><strong>Adjunte la fotocopia DOCUMENTO DE IDENTIDAD</strong></li>
            </ul>
        </li>
        <br/>
        <li>En breve se le enviará el <strong>número de referencia</strong> para realizar el proceso.</li>
    </ol>

    <div class="text-right"><a style="color:#fff" class="btn btn-danger btn-lg"
                               href="{{ path("fos_user_security_login") }}">Iniciar sesión</a></div>

{% endblock %}