{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('project_index',{'id': app.user.id}) }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
        </li>
    </ul>
{% endblock %}
